<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Weather Application</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheet/main.css">
</head>
<body>
	<main>
		<h1>Weather Program</h1>
        <p id="weather">Current Weather data for <%= name %></p>
        <ul><li><%= temp %>° F</li></ul>
    </main>

</body>
</html>